body{
 font-family: arial;
 background-image: url(/Lernprogramm/src/Image/BackgroundImage.jpg);
 background-color: gray;
 background-repeat: no-repeat;
 background-position: center;
 height: 100vh;
 background-size: cover;
 background-color: #4b4b4b;
}

header{
 margin-top: -8px;
 right: 0;
 padding: 5px;
 background-color: rgba(0,0,0,0.8);
 margin-left: -8px;
 margin-right: -8px;
}

h2{
 color: white;
 background-size: 100%;
 text-align: center;
}

.sidebar {
 height: 100vh;
 width: 30vw;

 position: absolute;
 left: 0;
 top: 0;
 padding-top: 40px;
 background-color: gray;


 z-index: 2;

 transition-property: background-color, font-size, transform, color, margin;
 transition-timing-function: ease-in-out;
 transition-duration: 1s;
}

h1{
 margin-top: -40px;
 padding-top: 30px;
 padding-bottom: 25px;
 background-color: black;
 color: white;
 font-size: 20px;
 text-align: center;
 text-decoration: underline;
 top: 0;
 left: 0;
}

.topicButton {
 color: white;
 font-size: 20px;
 text-align: center;
 margin-top: 30px;
 margin-right: auto;
 margin-left: auto;
 border-radius: 5px;
 border: solid black 1px;
 background-color: rgba(0,0,0,0.3);
 display: block;
 width: 30vw;
}

.handlerPlaceholder{
 position: absolute;
 left: 0;
 top: 50%;

 background-color: gray;
 opacity: 1;
 width: fit-content;
 margin-left: 30vw;

 transition-property: background-color, font-size, transform, color, margin;
 transition-timing-function: ease-in-out;
 transition-duration: 1s;
}

.handler{
 /*top:0%; /*50%*/
 /*left:0%; /*86%*/
 padding-top: 0px;
 height:60px;
 position: absolute;
 /*margin-left: 0px;*/


 background-color: gray;
 border: 0px;
 border-radius: 0px 5px 5px 0px;

 text-align: left;
}

button:hover{
 opacity: 0.5;
 border:none;
}


.task{
 height:80vh;
 width: 80%;
 min-width: 80%;
 max-width: 100%;

 max-height: 80vh;
 min-height: 80vh;

 text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 background-color: rgba(63, 63, 63,0.8);
 position: relative;

 z-index: 1;

 border-radius: 4px;

 overflow:hidden;
}

.questionPlaceholder{
 background-color: rgba(118, 118, 118, 0.8);
 color: white;
 font-size: 25px;
 padding: 30px;
}

.progressBarPlaceholder{
 border: solid 2px rgba(102, 102, 102, 0.4);
 border-radius: 4px;
 background-color: rgba(91, 91, 91, 0.8);
 min-width: fit-content;
 max-width: 100%;
 width: 90%;
 margin-left: auto;
 margin-right: auto;

 z-index: 4;
}


.progressBar{
 min-width: fit-content;
 max-width: 100%;
 width: 25%; /*needs change in script*/
 margin-right: auto;
 margin-left: auto;
 background-color: rgb(68, 159, 250);
 border-radius: 4px;
 padding: 3px;

 font-size: 10px;
}

.selection{
 width: auto;
 max-width: 90%;
 height:auto;
 max-height: 100%;

 position: relative;
 /*background-color: red;*/
 margin-top: 10%;
 margin-left: auto;
 margin-right: auto;

 overflow: hidden;
}

.top{
 margin-left: auto;
 margin-right: auto;
}

.bottom{
 margin-top: 10%;
 margin-left: auto;
 margin-right: auto;
}

.answer{
 background-color: black;
 color: white;
 border-radius: 4px;
 font-size: 20px;

 /*ändern*/
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;

 min-width: 15vw;

 width: 20vw;

 height: 8vh;

 margin: 30px;
 border: none;
 position: sticky;

 z-index: 3;
}
